# **둘째마당. 본격 실습! 데이터 갖고 놀기**
---
---

# 04 데이터 프레임의 세계로!

## 04-2 데이터 프레임 만들기 - 시험 성적 데이터를 만들어 보자!

### 데이터 입력해 데이터 프레임 만들기

**1. `pandas` 패키지 로드하기**

In [1]:
import pandas as pd

**2. 데이터 프레임 만들기**

In [2]:
df = pd.DataFrame({'name'    : ['김지훈', '이유진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math'    : [50, 60, 100, 20]})
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

### 데이터 프레임으로 분석하기

#### 특정 변수의 값 추출하기

In [3]:
# 영어 점수 확인
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [5]:
# 영어 점수 합계 
sum(df['english'])

300

In [6]:
# 수학 점수 합계
sum(df['math'])

230

#### 변수의 값으로 평균 구하기

In [10]:
# 영어 점수 평균
import numpy
numpy.mean(df['english'])

75.0

In [11]:
# 수학 점수 평균
import numpy
numpy.mean(df['math'])

57.5

---
## 04-3 외부 데이터 이용하기 - 축적된 시험 성적 데이터를 불러오자!

### 엑셀 파일 불러오기

#### 1. 엑셀 파일 살펴보기

#### 2. 워킹 디렉터리에 엑셀 파일 삽입하기

#### 3. 엑셀 파일 불러오기

In [12]:
# 엑셀 파일 excel_exam.xlsx을 불러와 df_exam에 할당
import pandas as pd

df_exam = pd.read_excel('excel_exam.xlsx')

df_exam                                      # 출력

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

#### 4. 분석하기

In [13]:
sum(df_exam['english']) / 20

84.9

In [14]:
sum(df_exam['science']) / 20

59.45

In [15]:
# 변수의 값 개수 구하기
x = [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [16]:
len(x)

5

In [17]:
# 데이터 프레임의 행 개수 구하기
df = pd.DataFrame({'a' : [1, 2, 3],
                   'b' : [4, 5, 6]})
df

   a  b
0  1  4
1  2  5
2  3  6

In [18]:
len(df)

3

In [19]:
len(df_exam)                          # df_exam의 행 개수 구하기

20

In [21]:
# english 합계를 행 개수로 나누기
sum(df_exam['english']) / len(df_exam)

84.9

In [22]:
# science 합계를 행 개수로 나누기
sum(df_exam['science']) / len(df_exam)

59.45

#### 엑셀 파일의 첫 번째 행이 변수명이 아니라면?

In [23]:
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx')
df_exam_novar

   1  1.1  50  98  50.1
0  2    1  60  97    60
1  3    2  25  80    65
2  4    2  50  89    98
3  5    3  20  98    15
4  6    3  50  98    45
5  7    4  46  98    65
6  8    4  48  87    12

In [24]:
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx', header = None)
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

#### 엑셀 파일에 시트가 여러 개 있다면?

In [28]:
# Sheet2 시트의 데이터 불러오기
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name = 'Sheet1')

# 세 번째 시트의 데이터 불러오기
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name = 0)

### CSV 파일 불러오기

#### 1. 워킹 디렉터리에 CSV 파일 삽입하기

#### 2. CSV 파일 불러오기 - read_csv() 함수 이용

In [29]:
# exam.csv 파일 불러오기
df_csv_exam = pd.read_csv('exam.csv')
df_csv_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

### 데이터 프레임을 CSV 파일로 저장하기

#### 1. 데이터 프레임 만들기

In [30]:
df_midterm = pd.DataFrame({'english' : [90, 80, 60, 70],
                           'math'    : [50, 60, 100, 20],
                           'nclass'  : [1, 1, 2, 2]})
df_midterm

   english  math  nclass
0       90    50       1
1       80    60       1
2       60   100       2
3       70    20       2

#### 2. CSV 파일로 저장하기

In [31]:
# output_newdata.csv 파일로 저장하기
df_midterm.to_csv('output_newdata.csv')

In [32]:
df_midterm.to_csv('output_newdata.csv', index = False)

---

### 정리하기

In [33]:
# 1. 데이터 프레임 만들기
df = pd.DataFrame({'name'    : ['김지훈', '이유진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math'    : [50, 60, 100, 20]})
 

# 2.외부 데이터 이용하기

# 엑셀 파일 불러오기
df_exam = pd.read_excel('excel_exam.xlsx')

# CSV 파일 불러오기
df_csv_exam = pd.read_csv('exam.csv')
 
# CSV 파일로 저장하기
df_midterm.to_csv('output_newdata.csv')